:host {
  display: block;
  padding-left: 1px;
  color: #DCDCDC;

  --iron-icon-height: 18px;
  --iron-icon-width: 18px;
}

.user-name {
  color: #2E7D32;
  font-weight: bold;
}

.dir-name {
  color: #32DFE2;
}

.git {
  color: #729FCF;
}

.branch-status {
  color: #EF2929;
}

.user-name,
.dir-name,
.git {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: .8px
}

.prompt-input {
  display: inline-block;
  width: 100%;
  align-items: center;
}

#input {
  display: inline-block;
  font-size: 14px;
  border: 0;
  background: transparent;
  outline: none;
  width: 100%;
  color: #DCDCDC;
  height: 20px;
}

iron-icon[icon="arrow-forward"] {
  color: #8AE234;
}