:host {
  display: block;
  padding-left: 1px;
  color: #DCDCDC;
}

.user-name {
  color: #2E7D32;
  font-weight: bold;
}

.dir-name {
  color: #32DFE2;
}

.git {
  color: #729FCF;
}

.branch-status {
  color: #EF2929;
}

.user-name,
.dir-name,
.git {
  font-size: 14px;
  font-weight: 600;
  display: inline-flex;
  flex: 1 0 auto;
  letter-spacing: .8px;
}

.prompt-input {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

#input {
  display: inline-flex;
  font-size: 14px;
  border: 0;
  background: transparent;
  outline: none;
  width: 100%;
  color: #DCDCDC;
  height: 20px;
}

iron-icon[icon="arrow-forward"] {
  display: inline-flex;
  color: #8AE234;
  height: 23px;
  width: 23px;
}

.dir-name,
.git,
iron-icon[icon="arrow-forward"] {
  margin-right: 7px;
}

iron-icon[icon="arrow-forward"].error {
  color: red;
}