/**
 * Globals
 */
html,
body {
  cursor: default;
  margin: 0;
  height: 100%;
}

body {
  background-color: #2D2D2D;
  color: #DCDCDC;
  
  font-family: 'Roboto', 'Droid Sans', arial, sans-serif;
  font-size: 15px;
  direction: ltr;

  -webkit-user-select: none;
}

body.blur cmd-titlebar::shadow .icon {
  background-color: #C8C8C8;
  border-color: #BEBEBE;
}