:host {
  display: inline-flex;
  position: fixed;
  width: 100%;
  margin-top: 30px;
  height: 25px;
  background-color: #D4D4D4;
  align-items: center;
  z-index: 1;

  --paper-tab: {
    margin: 0;
    padding: 0;
  }

  --paper-tab-content: {
    color: #6E6E6E;
    font-weight: 400 !important;
    justify-content: space-between !important;
    padding: 0 8px;
  }

  --iron-icon-height: 16px;
  --iron-icon-width: 16px;
}

#tabs {
  height: inherit;
  width: 100%;
}

#tabs paper-tab {
  cursor: default;
  background-color: #D4D4D4;
}

#tabs paper-tab.iron-selected {
  background-color: #F9F9F9;
}

#tabs paper-tab iron-icon[icon="close"]:hover {
  color: #2D2D2D;
}