:host {
  display: block;
  position: absolute;
  width: 100%;
  margin-top: 55px;
  height: calc(100% - 55px);
}

#content {
  margin: 0;
  padding: 2px 3px 0 3px;
  height: 100%;
  overflow-y: auto;
  word-wrap: break-word;
}

#content::-webkit-scrollbar {
  width: 4px;
}
 
#content::-webkit-scrollbar-thumb {
  background-color: #535353;
}

#content a {
  color: #94C2E4;
}

#content .command {
  display: block;
}

#content .output {
  padding-left: 2px;
}